<div>
<table style="width: 100%">
	<tr>
		<td>
		<table style="width: 100%">
			<tr>
                <td ><center><font size="30">WSD - Module 11</font><center>
                    <center><font size="30">Topic: Programming</font><center></td>
			</tr>
			<tr>
                <td><center><font size="5">Jupyter Notebook 2</font><center></td>
			</tr>
			<tr>
                <td><center><font size="10">Numbers, strings and booleans</font><center></td>
			</tr>
		</table>
		</td>
		<td><img src='figures/ihe_logo.png' width="200" height="200"></img></td>
	</tr>
</table>
</div>

# Table of contents
1. [Learning objectives](#learningobs)
2. [Numbers](#numbers)
3. [Strings](#strings)
4. [Booleans](#booleans)


## 1. Learning objectives<a name="learningobs"></a>

At the end of this session you will be able to:
- Identify the main data types used in Python
- List the differences among the different data types
- Access and modify (when possible) data from the different types of variables


## 2. Numbers<a name="numbers"></a>

The main types used for numbers are Integer (`int`), Floating point (`float`) and Complex (`complex`). Examples:

    int
    a = 10

    float
    a = 10.0

    complex
    a = 10.0+0j

### Action
Type each of the previous numbers in the cell below and retrieve its data type by using the `type` command.

In [ ]:
# Type your code here!


## 3. Strings<a name="strings"></a>

Strings are a sequence of characters. A string variable only requires that the value that is being assigned is between quotes, both single (`'`) or double (`"`). For example:

    a = '10'
    a = "10"

In this case, the value of `a` is not the <i> numerical value</i> `10`, but instead the sequence of characters `1` and `0`.

### Action

Type the following in the cell below:

    a = '10'
    a + 2

In [ ]:
# Type your code here!

As you can see, `a + 2` will result in a <i>type</i> error: `TypeError: can only concatenate str (not "int") to str`. 

Note the following:
 - It is not possible to execute the `+` operation between objects of different types;
 - If `a` was a number, then `+` would perform the summation `10+2`=`12`; 
 - If the number `2` would have been instead the string `'2'`, then `+` would perform a <i>concatenation</i>, i.e., an operation that <i>glues</i> the strings `'10'` and `'2'` together, resulting in the sequence of characters `'102'`.

### Action
What happens if we use `2.0` instead of `2` in the expression `10+2`? Feel free to experiment these expressions in the same cell below.

In [ ]:
# Type your code here!

### Action
Try the following in the cell below:

`a = '10'
b = ' is a number'
a + b
a * 2`

In [ ]:
# Type your code here!

It is possible to see all of the methods (i.e., the actions we could do) with `str` objects in the documentation [here](https://www.programiz.com/python-programming/methods/string).

### Action
Try this in the cell below:

`c = 'alfonso'
c.capitalize()`

In [ ]:
# Type your code here!

## 3.1 The `format` command <span style='background :yellow' > (self-study)</span>
It is possible to create custom messages mixing text and numerical values. We do this with the `format` method. 
### Action
Run the cells below and analyse the outputs carefully:

In [ ]:
"My name is {a_name}, I'm {an_age}, I am from {a_nation}".format(a_name = "Sonal", an_age = 36, a_nation = "India")

In [ ]:
"My name is {0}, I'm {1}, I am from {2}".format("Sonal", 36, "India")

In [ ]:
#Use "," to add a comma as a thousand separator:
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

In the previous cell, note the following:
 - we are using a variable to store the resulting string (`txt`, although it can have any other name)
 - we are applying the format to the variable `txt`
 - most formatting options can be defined with the combination `{: something}`. In the example above, we have added a colon `:` inside the curly brackets and then, at its right hand side, we are specifying a particular format, in this case the thousands separator using the comma `,`.
 
Run the cell below:

In [ ]:
txt = "The water level is {:.2f} meters."
print(txt.format(45))

So, at the right hand side of `:`, use `.n` to display the value with `n` decimals, and `f` to convert a number into a fixed point number.

Without the `.2` inside the placeholder, this number will be displayed with six decimal places (by default):

In [ ]:
txt = "The water level is {:f} meters."
print(txt.format(45))

## Excercise 1
Explain how the `format` command is being used in the last three lines of the code below. Look at the outputs they generate. Insert a new Markdown cell after the code and write there your explanation.

In [ ]:
import time
print('The current minute is {0}'.format(time.localtime().tm_min))

a = 12345.54321

print('a = ', a)

# Explain briefly these three lines:
print('Displaying a with two decimals: {:.2f}'.format(a))
print('Displaying a in a string of 10 characters in total {0:010.2f}'.format(12345.54321))
print('Put two strings in one sentence, like: {0} and {1}'.format('this', 'THIS'))

Note that in the previous exercise, the `time` library was imported. It provides several functions to work with time operators and formats.

A convenient resource for understading Python formatting can be found [here](https://pyformat.info/).

## Exercise 2

Given the points $p_1 =(x_1, y_1)$ and $p_2 =(x_2, y_2)$, with coordinates (in meters) $x_1 = 13.0$, $x_2 = 15.0$, $y_1 = 35.0$, and $y_2 = 40.0$, complete and display the following string: 

'The distance between p1 and p2 is `___m` and `___cm`.'

## 3.2 Special characters <span style='background :yellow' > (self-study)</span>

When using strings, there are some special characters that will trigger particular behaviours of the string. As we just saw, the use of `{}` will create a placeholder for arguments using the format method. These characters are known as escape characters.

    \n	Backslash and newline ignored	 
    \\	Backslash (\)	 
    \'	Single quote (')	 
    \"	Double quote (")	 
    \a	ASCII Bell (BEL)	 
    \b	ASCII Backspace (BS)	 
    \f	ASCII Formfeed (FF)	 
    \n	ASCII Linefeed (LF)	 
    \r	ASCII Carriage Return (CR)	 
    \t	ASCII Horizontal Tab (TAB)	 
    \v	ASCII Vertical Tab (VT)	 
    \ooo	Character with octal value ooo	(1,3)
    \xhh	Character with hex value hh	(2,3)

In [ ]:
# This is an example of something that does not work
print('my file is in c:\new\myfile.txt')
print('my file is in c:\tigers\brazilian_tiger_picture.png')

# This is an example of something that works
print('\n')
print('my file is in c:\\new\\myfile.txt')
print(r'my file is in c:\tigers\brazilian_tiger_picture.png')

Note that in the last of the previous examples,  there is an <i>r</i> before the string with the path of a file. The <i>r</i> stands for <i>raw string</i>, which is a slightly different version of strings. In raw strings, the backslash is not treated as a special character but as a regular backslash. For this reason, in the last of the examples there is no need to use the double backslash `\\` to print one backslash.

In [ ]:
# Write your answer here

## 4 Booleans<a name="booleans"></a>

Boolean types are used to determine if a given condition is either `True` or `False`. Note that the boolean variables are capitalised.
    
    a = True
    b = False

Try the lines below, one by one, in the cell below:

    print(a)
    print(not a)
    print(a is b)
    print(a is not b)


Note that `is` and `==` are different. 

The `is` operator compares the identity of objects. If two variables point to the same object (the same place in memory), the result is 'True', as they both have the same ID (can check with the id() function).

The `==` operator compares values. It checks if the value of one variable is equal to the value of some other variable.

In [ ]:
# Type your code here

The output of logical conditions used with mathematical operations are also Boolean. For example:

- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

Try in the cell below some logical operations with the values: 

    a = 10
    b = 20

In [ ]:
# Type your answer here